#content_inner .question h4 {
  border-bottom:0px solid white;
  font-size:17px;
}
#question_info {
  width:45%;
}
#question_actions {
  float:right;
  width:45%;
}
button.bold { font-weight:bold; }
#questions_score { float:right; }

.rating { float:right; }
.verdict_and_comment p {
    font-style:italic;
    margin-bottom:0em;
}
.verdict_and_comment p.verdict {
    font-style:normal;
    margin-top:1em;
}
p.verdict strong {
    padding-right:10px;
}
