{% extends "base.html" %}

{% block title %}
<title>{{ gist.description }} | Tornado Gists</title>
{% end %}

{% block extra_head %}
<style type="text/css">
#content p.discussion, #content p.tags { margin-top:1em; margin-bottom:0; }
div.discussion { margin:15px 10px; }
div.comment { border:1px solid #ccc; margin-bottom:15px; }
div.comment p { padding:4px; margin: 0 !important;}
div.comment p.metadata { background-color:#eaeaea; border-bottom:1px solid #ccc;  }
p.metadata .gravatar { float:left; }
p.metadata .user { padding-left:5px; font-weight:bold; }
p.metadata .ago { padding-left:10px; }
.gist-file { margin-top:20px; }
#comment-link-end { padding-bottom:15px; }
span.love {
   float:left;
   margin-right:10px;
}
a.unlove { font-size:9pt; }
</style>

{% if edit %}
<link rel="stylesheet" href="{{ static_url('css/ext/jquery.autocomplete.css') }}"/>
{% end %}

<link rel="stylesheet" href="{{ static_url('css/ext/jquery.qtip.min.css') }}"/>
<style type="text/css">
.ui-tooltip {
  max-width:760px;
  min-width:600px;
}
#ui-tooltip-modal{
   -moz-box-shadow: 0 0 10px 1px rgba(0,0,0,.5);
   -webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,.5);
   box-shadow: 0 0 10px 1px rgba(0,0,0,.5);
}

#ui-tooltip-modal .ui-tooltip-content{
   padding: 10px;
}
</style>

{% end %}

{% block main %}


<div id="comment-outer" style="display:none">
  <div class="comment-inner" style="width:500px">
  {% if user %}
  <form action="comments" method="post">
  <div style="display:hidden">{{ xsrf_form_html() }}
  <input type="hidden" name="file" value="" />
  <input type="hidden" name="line" value=""/>
  <input type="hidden" name="reply_to" value=""/>
  </div>
  <div><textarea name="comment" rows="5" cols="80"></textarea></div>
  <div class="preview_markdown" style="display:none">
    <p style="font-weight:bold; background-color:#f1f1f1">Preview:</p>
    <div class="_preview"></div>
  </div>
  <div><input type="submit" value="Post comment" />
  <span class="metadata about-file">regarding <code></code></span>
  </div>
  </form>
  {% else %}
  <p><a href="/auth/github/">Must be logged in</a> to post comments. Takes 4 seconds.</p>
  {% end %}
  </div><!-- /.comment-inner -->
</div><!-- /.comment-outer -->

{% if edit %}
<form action="." method="post">{{ xsrf_form_html() }}
{% end %}

<h2>{{ gist.gist_id }}:
{% if edit %}
<input style="width:100%" name="description" value="{{ gist.description }}" />
{% else %}
{{ gist.description }}
{% end %}
</h2>

{% if edit %}
  <p class="tags"><label>Tags:</label> (comma separated)</p>
  <div><input name="tags" style="width:100%" value="{{ ', '.join(gist.tags) }}"/></div>
  <p class="discussion"><label>Discussion:</label></p>
  <div><textarea name="discussion" style="width:100%" cols="80" rows="10">{{ gist.discussion }}</textarea></div>
  <p style="float:right">Text is rendered as <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a></p>
  <p><input type="submit" value="Save" /> <a href="{{ reverse_url('view_gist', gist.gist_id) }}">Cancel</a></p>
  </form>
{% else %}
  {% if user and gist.user == user %}
  <p style="float:right">Your gist, wanna <a onclick="return confirm('Are you sure you want to delete it entirely?')"
  href="{{ reverse_url('delete_gist', gist.gist_id) }}">delete it</a> or
  <a href="{{ reverse_url('edit_gist', gist.gist_id) }}">edit it</a>?</p>
  {% else %}
  <p style="float:right">Added
  {{ modules.TimeSince(gist.add_date) }} ago
  by <a href="{{ reverse_url('by_user', gist.user.login) }}">{{ gist.user.name if gist.user.name else gist.user.login }}</a>
  {% if gist.user.gravatar_id %}
  {{ modules.ShowGravatar(gist.user.gravatar_id, 30) }}
  {% end %}
  </p>
  {% end %}

  <h3>Love</h3>
  <form action="{{ reverse_url('vote_toggle_gist', gist.gist_id) }}" method="post">{{ xsrf_form_html() }}
  <span class="love">{{ vote_points }}</span>
  <strong class="loved" {% if not has_voted_up %}style="display:none"{% end %}>you loved it!</strong>
  <a href="#" class="unlove" {% if not has_voted_up %}style="display:none"{% end %}>change your mind</a>
  <a href="#" class="love" {% if has_voted_up %}style="display:none"{% end %}>Add <em>your</em> love!</a>
  </form>
  {% if gist.tags %}
  <h3>Tags</h3>
  <div class="tags">
    {% for i, tag in enumerate(gist.tags) %}
      <a href="{{ reverse_url('by_tags', tag) }}">{{ tag }}</a>{% if i + 1 < len(gist.tags) %}, {% end %}

    {% end %}
  </div>
  {% end %}

  {% if gist.discussion %}
  <h3>Discussion</h3>
  <div class="discussion">{{ modules.RenderText(gist.discussion, gist.discussion_format) }}</div>
  {% end %}

  <div>
    {% if gist.owner == gist.user.login %}
    {% else %}
    <p>Originally created
    {% if gist.owner %}
    by <a href="https://github.com/{{ gist.owner }}">{{ gist.owner }}</a>
    {% end %}
    {{ gist.created_at }}
    </p>
    {% end %}
  </div>
{% end %}

{% for i, filename in enumerate(gist.files) %}
<div class="gist-file">
  <p>File: <code>{{ filename }}</code></p>
  <script type="text/javascript" src="https://gist.github.com/{{ gist.gist_id }}.js?file={{ filename }}"></script>
  <div class="comment-link-front">
      <a href="#" class="comment" data-file="{{ filename }}">Comment on this</a>
  </div>
  <a name="comments-{{ i+1 }}"></a>
  <div class="file-comments" style="display:none" data-file="{{ filename }}">
    <h3>Comments</h3>
  </div>
  <div class="comment-link-bottom" style="display:none">
      <a href="#" class="comment" data-file="{{ filename }}">Comment on this</a>
  </div>


</div>
{% end %}



{% end %}<!-- end main block -->


{% block extra_js %}
{% if edit %}
<script type="text/javascript" src="{{ static_url('js/ext/jquery.autocomplete.pack.js') }}"></script>
{% end %}
<script type="text/javascript" src="{{ static_url('js/ext/jquery.qtip.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/gist.js') }}"></script>
{% end %}
