{% extends "base.html" %}

{% block main %}
<form action="/add/" method="post" class="add">
{{ xsrf_form_html() }}

{% if not user %}
<div id="login_to_add" style="display:none">
  <p><strong>Sorry</strong>
  You have to be <a href="/auth/github/">logged in</a> to add a gist and post comments.
  </p>
</div>
{% end %}

<div id="add_gist_id" style="text-align:center;margin-top:15px">
Github Gist ID: <input name="gist_id" value=""> <input type="submit" value="Add">
| <a target="_blank" href="https://gist.github.com/">Create a new gist on Github</a>(then come back)
</div>
</form>

{% if by %}
<h2>{{ by.name }}'s gists</h2>
<p><a href="{{ reverse_url('home') }}">clear search</a></p>
{% else %}
<h2>Current gists</h2>
{% end %}
<ul>
  {% for gist in gists %}
    <li><a href="{{ reverse_url('view_gist', gist.gist_id) }}">{{ gist.gist_id }},
    <span class="description">{{ gist.description }}</span></a>
    {% if gist.no_comments %}
    <abbr title="{{ gist.no_comments }} comments" class="comment-count">{{ gist.no_comments }}</abbr>
    {% end %}
    by
    <a href="{{ reverse_url('by_user', gist.user.login) }}" class="user">{{ gist.user.name }}</a></li>
  {% end %}
</ul>

<h2>Recent comments</h2>
<ul>
  {% for comment in recent_comments %}
  <li><a href="{{ reverse_url('view_gist', comment.gist.gist_id) }}#comments-{{ comment.file_index_number + 1 }}">{{ modules.TruncateWords(comment.comment, 10) }}</a>
    by
    <a href="{{ reverse_url('by_user', comment.gist.user.login) }}" class="user">{{ comment.gist.user.name }}</a></li>
  {% end %}
</ul>

{% end %}

{% block extra_js %}
{% if not user %}
<script type="text/javascript">
$(function() {
  $('form.add').submit(function() {
    if ($('#login_to_add:hidden').size()) {
      $('#login_to_add:hidden').show(500);
      $('#add_gist_id').fadeTo(200, 0.2);
    }
    return false;
  });
});
</script>
{% end %}
{% end %}