{% extends "base.html" %}

{% block main %}
<form action="/add/" method="post">
{{ xsrf_form_html() }}
<div>Github Gist ID: <input name="gist_id" value="838529"> <input type="submit" value="Add"></div>
</form>

{% if by %}
<h2>{{ by.name }}'s gists</h2>
<p><a href="{{ reverse_url('home') }}">clear search</a></p>
{% else %}
<h2>Current gists</h2>
{% end %}
<ul>
  {% for gist in gists %}
    <li><a href="/{{ gist.gist_id }}">{{ gist.gist_id }},
    <span class="description">{{ gist.description }}</span></a> by
    <a href="{{ reverse_url('by_user', gist.user.login) }}" class="user">{{ gist.user.name }}</a></li>
  {% end %}
</ul>
{% end %}